*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #B5D8FF;
    width: 100vw;
    height: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 10px;
    margin: 4px;
    width: 72px;
    border:2px solid black;
    border-radius: 8px;
    cursor: pointer;
}
.container{
    width: 342px;
    height: 430px;
    padding: 10px;
    flex-direction: column;
    background-color: #5C9CE5;
    border-radius: 10px;
}
.row{
    margin: 5px;
}
input{
    margin: 5px;
    padding: 5px;
    height: 50px;
    width:310px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 30px;
    text-align: right;
}
.equal{
    width: 324px;
}
button{
    font-size: 30px;
}